
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <meta content="Eshwar Valluripalli" name="description">

    <title>Vall-E-Y</title>
    <link href="/Users/eshwarvalluripalli/Documents/home.css">
    <link href="/Users/eshwarvalluripalli/Documents/coupa1.jpg">

<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<h1>Sample App</h1>

<p>
This is the home page for the
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</p>
    <header>
            <h1><a href="/">Eshwar Chowdary is a designer who writes.</a></h1>
            <nav role="navigation">
                <ul>
                    <li><a href="/writing/">Coupa</a></li>
                    <li><a href="/books/">Works</a></li>
                    <li><a href="/library/">Projects</a></li>
                    <li><a href="/about/">About</a></li>
                </ul>
            </nav>
    </header>
        <img src="/Users/eshwarvalluripalli/Documents/coupa2.png"></img>
        <img src="/Users/eshwarvalluripalli/Documents/coupa3.jpg"></img>
        <img src="/Users/eshwarvalluripalli/Documents/coupa4.jpg"></img>
        <img src="/Users/eshwarvalluripalli/Documents/coupa2.jpg"></img>
        <img src="/Users/eshwarvalluripalli/Documents/coupa5.jpg"></img>
        <img src="/Users/eshwarvalluripalli/Documents/coupa2.jpg"></img>